<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="upper">
        <img class="avatar" alt="photo" src="/images/48158650.jpg" style="width:30px;height=30px;" >
        <a class="github" href="https://github.com/Onknown9">GitHub</a>

        <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <script>
        var navigationOpen=false;
            function myFunction(x) {
            x.classList.toggle("change");
            var navigation = document.querySelector(".navigation");
            if(navigationOpen){
                navigation.style.width="0";
            }else{
                navigation.style.width="12%";
            }
            navigationOpen = !navigationOpen;
            }
        </script>
    </div>


    <div class="middle">
        <div class="imageContainer"></div>
        <div class="descContainer">
            <p class="text">All desc is located here</p>
        </div>

        <div class="navigation">

        </div>
    </div>


    <div class="down"></div>
</body>
</html>